<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>CalcStack</title>
</head>
<body>
    <h1>CalcStack</h1>
    <h2>Resultado actual: {{ data.result }}</h2>

    <form action="/operate" method="POST">
        <input type="number" step="any" name="number" required>

        <select name="operator">
            <option value="+">Sumar</option>
            <option value="-">Restar</option>
            <option value="*">Multiplicar</option>
            <option value="/">Dividir</option>
        </select>

        <button type="submit">Calcular</button>
    </form>

    <br>
    <form action="/undo" method="POST">
        <button type="submit">Undo</button>
    </form>

    <form action="/redo" method="POST">
        <button type="submit">Redo</button>
    </form>

    <form action="/clear" method="POST">
        <button type="submit">Limpiar</button>
    </form>


    <hr>

    <h3>Undo Stack</h3>
    <p>{{ data.undo_stack }}</p>

    <h3>Redo Stack</h3>
    <p>{{ data.redo_stack }}</p>


</body>
</html>